<a href="https://colab.research.google.com/github/y001003/yeardream/blob/main/DL/torch/%ED%86%A0%EC%B9%98%EC%9D%98_%ED%98%B8%ED%9D%A1_Lesson_1_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regression Model

## 1. Load Data

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.datasets import fetch_california_housing

import torch
import torch.nn as nn # class Model(nn.Module)
from torch.utils.data import Dataset, DataLoader
# Dataset, DataLoader
# df --> Dataset (X, y) --> DataLoader: Batch Size

In [3]:
ch = fetch_california_housing()

df = pd.DataFrame(ch.data, columns = ch.feature_names)
df['target'] = ch.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

## 2. Dataset

학습할 컬럼과 타겟 컬럼을 잘라내고, 텐서로 반환한다.

In [ ]:
class MyDataset(Dataset):
    def __init__(self, df = df):
        self.df = df
        self.x = self.df.iloc[:,:-1].values

## 3. DataLoader

학습과 검증, 테스트 세트로 나눈다.

## 4. 모델 생성

## 5. Run_train