# Pandas
> - 데이터 과학자를 위해 **테이블형태**로 데이터를 다룰 수 있게 해주는 패키지(python용 엑셀)
> - 기존 데이터처리 라이브러리인 numpy 대신 주로 사용
> - 일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리
> - pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장
> - 앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## pandas 설치 및 import
    
> 콘솔창에서 실행 시  
**`pip install pandas`**  
**`conda install pandas`**
    
> 주피터 노트북으로 실행 시  
**`!pip install pandas`**
    
아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [ ]:
# pandas 설치
# !pip install pandas

In [1]:
# numpy import
import numpy as np

# pandas import
import pandas as pd
# pd라는 닉네임은 많은 파이썬 유저들이 사용하고 있는 닉네임, 분석을 위한 필수는 아니지만 되도록이면 위와 같이 사용을 해줍시다.

pd.options.display.max_columns = 200
# 불러들이는 데이터에 맞춰 모든 컬럼을 확인 가능하도록 옵션값을 주었습니다.
pd.options.display.max_info_columns =200
# 그냥 실행 시키시고 지금 이해 못하셔도 좋습니다.

## DataFrame
> - 엑셀에 익숙한 사용자를 위해 제작 된 **테이블형태의 데이터 구조**  
> - 다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 **통계, 시각화 함수를 제공**한다.  

실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql, json을 사용합니다.
    
> **`read_csv()`**  
**`read_excel()`**  
**`read_sql()`**  
**`read_json()`**  
**`json_normalize()`**

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 loan1.csv 파일을 불러들여 데이터프레임을 만들고 df 이름의 변수로 저장
df = pd.read_csv('/content/drive/MyDrive/이어드림/advance/data/loan1.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.81,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.77,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.53,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df1= pd.read_excel('/content/drive/MyDrive/이어드림/advance/data/loan1.xlsx')

In [15]:
df1.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0,Jul-2007,0,34.0,NaN,8,0,5225,73.6,30,w,6442.28,6442.28,4493.81,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,173110,0,2,0,2,23.0,12496,39.0,0,0,3949,45.0,7100,1,0,0,2,21639.0,1875.0,73.6,0,0,125.0,78,26,23,3,26.0,NaN,21.0,NaN,0,2,2,4,4,21,4,5,2,8,0.0,0,0,0,96.4,25.0,0,0,196130,17756,7100,31992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0,Jun-2002,0,39.0,28.0,12,3,6953,51.9,38,w,2266.55,2266.55,1586.77,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,339028,0,4,0,3,22.0,76501,69.0,1,2,1628,65.0,13400,1,5,1,5,28252.0,808.0,82.4,0,0,164.0,186,7,7,2,7.0,39.0,7.0,39.0,0,4,7,4,10,19,7,17,7,12,0.0,0,0,1,97.3,75.0,0,3,416685,83454,4600,110595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0,Aug-2002,0,44.0,NaN,4,0,3401,97.2,12,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0,44.0,1,Individual,NaN,NaN,NaN,0,0,51673,1,3,1,1,5.0,48272,48.0,0,0,3401,53.0,3500,2,0,3,1,12918.0,99.0,97.2,0,0,135.0,184,54,5,0,54.0,44.0,5.0,44.0,2,1,1,1,4,6,1,6,1,4,0.0,0,0,1,83.3,100.0,0,0,82176,51673,3500,78676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0,Apr-2003,0,74.0,NaN,8,0,12918,59.5,16,w,9090.87,9090.87,6391.53,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0,74.0,1,Individual,NaN,NaN,NaN,0,457,29103,1,1,1,2,4.0,16185,95.0,1,5,10153,75.0,21700,2,6,0,7,3638.0,7265.0,61.6,0,0,36.0,176,7,4,0,7.0,NaN,16.0,74.0,1,2,4,3,4,4,7,12,4,8,0.0,0,0,2,93.8,33.3,0,0,38704,29103,18900,17004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0,Jun-1999,0,NaN,NaN,5,0,4497,91.8,6,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,471,7202,0,1,0,0,71.0,2705,12.0,0,0,1483,27.0,4900,0,1,0,0,1440.0,403.0,91.8,0,0,149.0,222,43,43,0,43.0,NaN,NaN,NaN,0,4,4,4,4,2,4,4,4,5,0.0,0,0,0,100.0,100.0,0,0,26841,7202,4900,21941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
# 필요 모듈 import
!pip install xlrd
!pip install openpyxl
!pip install pyxlsb

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Collecting pyxlsb
  Downloading pyxlsb-1.0.9-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.9

In [13]:
# 엑셀파일에 시트에 따라 데이터 구분이 지어진 경우 시트별로 데이터프레임 제작 가능
# 다른 엑셀파일형식을 가져올 때 engine파라메터 추가해주시면 됩니다.
df1 = pd.read_excel('/content/drive/MyDrive/이어드림/advance/data/loan1.xlsx', 
                    sheet_name='구매영수증상세+상품마스터포함', 
                    engine='pyxlsb',
                    encoding='utf-8') # 윈도우의 경우 cp949

TypeError: ignored

In [ ]:
# 데이터프레임 확인

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

### 데이터 저장하기
불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.
    
> **`to_csv()`**  
**`to_excel()`**  
**`to_sql()`**

In [19]:
# index=False 파라메터는 기존 데이터프레임의 인덱스를 무시하고 저장
# 경로 : 주피터 노트북으로 실행시 hdd에 저장
df.to_csv('save_test.csv.gz', index=False) # . gz용량을 줄여서 저장

In [20]:
df_test = pd.read_csv('save_test.csv.gz')

In [21]:
df_test.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.81,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.77,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.53,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### 사용 데이터 간략 설명
> 미국 핀테크 회사인 lending club의 대출 데이터베이스  
클라우드펀딩과 대출을 결합한 핀테크의 시초라고 부를 수 있는 회사  
방대한 양의 대출정보를 공개하면서 금융정보분석에도 기여한 공이 큰 데이터  
2007 ~ 2015 년 대출정보 및 개인정보를 담고 있음  
226만건, 145항목 정보를 담고있음  
실습데이터는 이 중 4만건을 추출한 데이터를 사용합니다.  

데이터출처: https://www.kaggle.com/wordsforthewise/lending-club

### 데이터 살펴보기

In [23]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 데이터 하나(샘플, 인스턴스) 확인하기
'''
loan_amnt= 총 대출 금액  
funded_amnt= 갚은 금액   
term = 만기 일자   
int_rate = 이자율   
grade = 신용등급   
emp_title= 직업명   
emp_length= 근속년수   
home_ownership = 주택 보유 여부    
issue_d= 발행 날짜    
loan_status = 갚고 있는지 완료되었는지
'''
df.head()
# 10개를 확인하려면?
df.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.81,4493.81,3557.72,936.09,0.00,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.77,1586.77,1233.45,353.32,0.00,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.00,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.53,6391.53,4909.13,1482.40,0.00,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.00,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,36000,36000,36000.0,60 months,14.08,839.16,C,C3,NDT III,10+ years,RENT,74000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.46,0.0,Apr-2001,1.0,39.0,NaN,5.0,0.0,22328,83.3,19.0,w,29698.80,29698.80,11691.92,11691.92,6301.20,5390.72,0.00,0.0,0.0,Feb-2019,839.16,Mar-2019,Feb-2019,0.0,58.0,1,Individual,NaN,NaN,NaN,0.0,0.0,38082.0,0.0,2.0,0.0,0.0,29.0,15754.0,46.0,0.0,0.0,18310.0,62.0,26800.0,0.0,3.0,2.0,0.0,7616.0,1672.0,93.0,0.0,0.0,158.0,200.0,65.0,29.0,0.0,70.0,63.0,4.0,58.0,1.0,2.0,2.0,2.0,6.0,9.0,3.0,10.0,2.0,5.0,0.0,0.0,0.0,0.0,83.3,100.0,0.0,0.0,61280.0,38082.0,24000.0,34480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,20000,20000,20000.0,36 months,9.93,644.69,B,B2,Supervisory program analyst,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,750xx,TX,7.76,2.0,May-1988,2.0,NaN,NaN,9.0,0.0,21374,62.0,24.0,w,12933.83,12933.83,9035.82,9035.82,7066.17,1937.42,32.23,0.0,0.0,Feb-2019,644.69,Mar-2019,Feb-2019,0.0,17.0,1,Individual,NaN,NaN,NaN,0.0,0.0,159398.0,2.0,1.0,0.0,1.0,16.0,19645.0,86.0,4.0,6.0,18596.0,62.0,34700.0,0.0,0.0,4.0,8.0,17710.0,10933.0,63.0,0.0,0.0,136.0,355.0,3.0,3.0,1.0,3.0,NaN,3.0,NaN,1.0,3.0,7.0,5.0,7.0,11.0,7.0,12.0,4.0,9.0,NaN,0.0,2.0,5.0,71.0,33.3,0.0,0.0,179419.0,41019.0,32800.0,22835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3200,3200,3200.0,36 months,10.91,104.63,B,B4,Commercial Property Manager,< 1 year,MORTGAGE,48000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,936xx,CA,16.66,0.0,Mar-2006,0.0,NaN,NaN,9.0,0.0,12748,91.7,11.0,w,2077.66,2077.66,1472.58,1472.58,1122.34,350.24,0.00,0.0,0.0,Feb-2019,104.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,188.0,190238.0,0.0,1.0,0.0,1.0,15.0,13772.0,87.0,1.0,2.0,3987.0,89.0,13900.0,0.0,0.0,0.0,3.0,21138.0,1084.0,91.0,0.0,0.0,15.0,141.0,7.0,7.0,2.0,7.0,NaN,NaN,NaN,0.0,6.0,7.0,6.0,7.0,1.0,7.0,8.0,7.0,9.0,0.0,0.0,0.0,1.0,100.0,83.3,0.0,0.0,211525.0,26520.0,12000.0,15908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,14500,14500,14500.0,36 months,16.02,509.93,C,C5,Equipment technician,< 1 year,MORTGAGE,38000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,765xx,TX,14.28,0.0,Oct-2008,0.0,NaN,NaN,6.0,0.0,1381,21.6,7.0,w,9613.67,9613.67,7201.93,7201.93,4886.33,2315.60,0.00,0.0,0.0,Feb-2019,509.93,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,61000.0,24.2,Not Verified,0.0,0.0,138605.0,1.0,1.0,1.0,1.0,7.0,22122.0,93.0,1.0,2.0,1381.0,78.0,6400.0,2.0,1.0,4.0,4.0,23101.0,1119.0,55.2,0.0,0.0,110.0,61.0,3.0,3.0,1.0,3.0,NaN,7.0,NaN,0.0,1.0,1.0,2.0,2.0,2.0,4.0,4.0,1.0,6.0,0.0,0.0,0.0,2.0,100.0,50.0,0.0,0.0,147563.0,23503.0,2500.0,23691.0,13179.0,Aug-2009,0.0,1.0,8.0,85.4,4.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,35000,35000,35000.0,36 months,6.08,1066.04,A,A2,NaN,NaN,OWN,76000.0,Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,388xx,MS,34.28,0.0,Aug-1994,1.0,NaN,NaN,23.0,0.0,47145,48.0,42.0,w,22139.93,22139.93,14900.92,14900.92,12860.07,2040.85,0.00,0.0,0.0,Feb-2019,1066.04,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,170361.0,1.0,2.0,0.0,0.0,26.0,28292.0,64.0,2.0,2.0,11128.0,53.0,98200.0,0.0,4.0,1.0,2.0,7744.0,27309.0,63.2,0.0,0.0,148.0,280.0,6.0,6.0,4.0,6.0,NaN,6.0,NaN,0.0,13.0,14.0,14.0,16.0,9.0,20.0,29.0,14.0,23.0,0.0,0.0,0.0,2.0,100.0,35.7,0.0,0.0,252224.0,75437.0,74300.0,44553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# 데이터의 마지막 5개 샘플 확인하기
# 데이터가 잘 가져왔는지 확인 할 때 보통 씁니다.
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
19995,NaN,NaN,10800,10800,10800.0,36 months,9.44,345.66,B,B1,Partner,3 years,MORTGAGE,240000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,major_purchase,Major purchase,370xx,TN,9.25,0.0,Oct-2005,1.0,42.0,NaN,6.0,0.0,128754,68.4,10.0,w,6667.33,6667.33,5173.570000,5173.57,4132.67,1040.90,0.0,0.0,0.0,Feb-2019,345.66,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,414761.0,1.0,2.0,1.0,1.0,2.0,74155.0,NaN,1.0,1.0,911.0,68.0,152300.0,1.0,1.0,4.0,2.0,69127.0,726.0,68.4,0.0,0.0,145.0,107.0,10.0,2.0,2.0,89.0,42.0,0.0,42.0,0.0,2.0,3.0,2.0,2.0,5.0,3.0,3.0,3.0,6.0,0.0,0.0,0.0,2.0,77.8,0.0,0.0,0.0,469534.0,202909.0,2300.0,84548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19996,NaN,NaN,14000,14000,14000.0,60 months,14.08,326.34,C,C3,Senior Property Manager,10+ years,OWN,53300.0,Verified,Nov-2017,Current,n,NaN,NaN,major_purchase,Major purchase,481xx,MI,12.95,0.0,Mar-1987,1.0,27.0,NaN,7.0,0.0,1536,30.7,17.0,w,11358.71,11358.71,4873.200000,4873.20,2641.29,2231.91,0.0,0.0,0.0,Feb-2019,326.34,Mar-2019,Feb-2019,0.0,40.0,1,Individual,NaN,NaN,NaN,0.0,0.0,85489.0,0.0,1.0,1.0,1.0,8.0,12118.0,84.0,0.0,1.0,0.0,71.0,5000.0,2.0,0.0,2.0,2.0,14248.0,NaN,NaN,0.0,0.0,140.0,368.0,20.0,8.0,1.0,NaN,40.0,0.0,40.0,3.0,0.0,2.0,0.0,3.0,5.0,5.0,11.0,2.0,7.0,0.0,0.0,0.0,1.0,52.9,NaN,0.0,0.0,105375.0,13654.0,0.0,14375.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19997,NaN,NaN,35000,35000,35000.0,60 months,12.62,789.57,C,C1,Mechanic engineer,7 years,RENT,85000.0,Source Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,030xx,NH,16.77,0.0,Jul-2002,2.0,64.0,NaN,11.0,0.0,23115,43.6,29.0,w,0.00,0.00,38737.465857,38737.47,35000.00,3737.47,0.0,0.0,0.0,Oct-2018,31680.42,NaN,Oct-2018,1.0,NaN,1,Joint App,160000.0,18.86,Source Verified,0.0,468.0,47500.0,0.0,1.0,0.0,0.0,25.0,24385.0,NaN,0.0,0.0,9076.0,44.0,49500.0,0.0,0.0,2.0,0.0,4750.0,24385.0,45.7,0.0,0.0,184.0,91.0,27.0,25.0,0.0,27.0,NaN,0.0,NaN,0.0,4.0,4.0,8.0,17.0,8.0,10.0,21.0,4.0,11.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,87549.0,47500.0,47500.0,38049.0,40609.0,Oct-2006,1.0,0.0,34.0,45.9,17.0,30.0,0.0,0.0,69.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19998,NaN,NaN,35225,35225,35225.0,60 months,19.03,914.34,D,D3,Teacher,8 years,MORTGAGE,42000.0,Source Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,532xx,WI,32.80,0.0,May-2003,0.0,65.0,NaN,15.0,0.0,10432,60.0,30.0,w,29254.00,29254.00,13640.620000,13640.62,5971.00,7669.62,0.0,0.0,0.0,Feb-2019,914.34,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,82000.0,25.02,Source Verified,0.0,0.0,162765.0,0.0,7.0,0.0,0.0,46.0,19208.0,35.0,0.0,0.0,4515.0,41.0,17400.0,0.0,0.0,0.0,0.0,11626.0,5315.0,65.5,0.0,0.0,169.0,174.0,52.0,40.0,1.0,89.0,NaN,NaN,65.0,0.0,3.0,4.0,4.0,7.0,10.0,6.0,17.0,4.0,15.0,0.0,0.0,0.0,0.0,96.4,50.0,0.0,0.0,213708.0,29838.0,15400.0,54560.0,29018.0,May-2004,0.0,1.0,11.0,56.0,1.0,11.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19999,NaN,NaN,3500,3500,3500.0,36 months,17.09,124.95,D,D1,Director of Design,10+ years,RENT,87000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,606xx,IL,20.72,0.0,Nov-1999,0.0,NaN,NaN,8.0,0.0,19505,79.3,11.0,f,2253.89,2253.89,1867.600000,1867.60,1246.11,621.49,0.0,0.0,0.0,Feb-2019,124.95,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,137000.0,24.69,Not Verified,0.0,0.0,44460.0,0.0,3.0,1.0,3.0,7.0,17149.0,68.0,0.0,1.0,10383.0,77.0,24600.0,2.0,0.0,1.0,4.0,5558.0,2995.0,86.7,0.0,0.0,139.0,136.0,16.0,7.0,0.0,16.0,NaN,7.0,NaN,0.0,3.0,3.0,3.0,3.0,6.0,4.0,4.0,3.0,8.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,58057.0,44460.0,22500.0,25249.0,69960.0,Aug-1992,1.0,0.0,7.0,94.9,2.0,8.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# 데이터의 갯수를 살펴봅니다
len(df)

20000

In [26]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()
# dtype 정보에서는 각 컬럼별 데이터 타입을 확인 할 수 있습니다.
# object == str 이라고 생각하셔도 무방합니다.
# verbose, null_counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 145 columns):
 #    Column                                      Non-Null Count  Dtype
---   ------                                      --------------  -----
 0    id                                          0 non-null      float64
 1    member_id                                   0 non-null      float64
 2    loan_amnt                                   20000 non-null  int64
 3    funded_amnt                                 20000 non-null  int64
 4    funded_amnt_inv                             20000 non-null  float64
 5    term                                        20000 non-null  object
 6    int_rate                                    20000 non-null  float64
 7    installment                                 20000 non-null  float64
 8    grade                                       20000 non-null  object
 9    sub_grade                                   20000 non-null  object
 10   emp_title                                   18269 non-null  object
 11   emp_length                                  18296 non-null  object
 12   home_ownership                              20000 non-null  object
 13   annual_inc                                  20000 non-null  float64
 14   verification_status                         20000 non-null  object
 15   issue_d                                     20000 non-null  object
 16   loan_status                                 20000 non-null  object
 17   pymnt_plan                                  20000 non-null  object
 18   url                                         0 non-null      float64
 19   desc                                        0 non-null      float64
 20   purpose                                     20000 non-null  object
 21   title                                       20000 non-null  object
 22   zip_code                                    20000 non-null  object
 23   addr_state                                  20000 non-null  object
 24   dti                                         19961 non-null  float64
 25   delinq_2yrs                                 20000 non-null  float64
 26   earliest_cr_line                            20000 non-null  object
 27   inq_last_6mths                              20000 non-null  float64
 28   mths_since_last_delinq                      8992 non-null   float64
 29   mths_since_last_record                      2914 non-null   float64
 30   open_acc                                    20000 non-null  float64
 31   pub_rec                                     20000 non-null  float64
 32   revol_bal                                   20000 non-null  int64
 33   revol_util                                  19963 non-null  float64
 34   total_acc                                   20000 non-null  float64
 35   initial_list_status                         20000 non-null  object
 36   out_prncp                                   20000 non-null  float64
 37   out_prncp_inv                               20000 non-null  float64
 38   total_pymnt                                 20000 non-null  float64
 39   total_pymnt_inv                             20000 non-null  float64
 40   total_rec_prncp                             20000 non-null  float64
 41   total_rec_int                               20000 non-null  float64
 42   total_rec_late_fee                          20000 non-null  float64
 43   recoveries                                  20000 non-null  float64
 44   collection_recovery_fee                     20000 non-null  float64
 45   last_pymnt_d                                19970 non-null  object
 46   last_pymnt_amnt                             20000 non-null  float64
 47   next_pymnt_d                                15056 non-null  object
 48   last_credit_pull_d                          20000 non-null  object
 49   collections_12_mths_ex_med                  20000 non-null  float64
 50   mths_since_last_major_derog                 4862 non-null   float64
 51   policy_code                                 20000 non-null  int64
 52   application_type                            20000 non-null  object
 53   annual_inc_joint                            2792 non-null   float64
 54   dti_joint                                   2792 non-null   float64
 55   verification_status_joint                   2792 non-null   object
 56   acc_now_delinq                              20000 non-null  float64
 57   tot_coll_amt                                20000 non-null  float64
 58   tot_cur_bal                                 20000 non-null  float64
 59   open_acc_6m                                 20000 non-null  float64
 60   open_act_il                                 20000 non-null  float64
 61   open_il_12m                                 20000 non-null  float64
 62   open_il_24m                                 20000 non-null  float64
 63   mths_since_rcnt_il                          19242 non-null  float64
 64   total_bal_il                                20000 non-null  float64
 65   il_util                                     16740 non-null  float64
 66   open_rv_12m                                 20000 non-null  float64
 67   open_rv_24m                                 20000 non-null  float64
 68   max_bal_bc                                  20000 non-null  float64
 69   all_util                                    19994 non-null  float64
 70   total_rev_hi_lim                            20000 non-null  float64
 71   inq_fi                                      20000 non-null  float64
 72   total_cu_tl                                 20000 non-null  float64
 73   inq_last_12m                                20000 non-null  float64
 74   acc_open_past_24mths                        20000 non-null  float64
 75   avg_cur_bal                                 19997 non-null  float64
 76   bc_open_to_buy                              19653 non-null  float64
 77   bc_util                                     19646 non-null  float64
 78   chargeoff_within_12_mths                    20000 non-null  float64
 79   delinq_amnt                                 20000 non-null  float64
 80   mo_sin_old_il_acct                          19242 non-null  float64
 81   mo_sin_old_rev_tl_op                        20000 non-null  float64
 82   mo_sin_rcnt_rev_tl_op                       20000 non-null  float64
 83   mo_sin_rcnt_tl                              20000 non-null  float64
 84   mort_acc                                    20000 non-null  float64
 85   mths_since_recent_bc                        19672 non-null  float64
 86   mths_since_recent_bc_dlq                    4076 non-null   float64
 87   mths_since_recent_inq                       17495 non-null  float64
 88   mths_since_recent_revol_delinq              5889 non-null   float64
 89   num_accts_ever_120_pd                       20000 non-null  float64
 90   num_actv_bc_tl                              20000 non-null  float64
 91   num_actv_rev_tl                             20000 non-null  float64
 92   num_bc_sats                                 20000 non-null  float64
 93   num_bc_tl                                   20000 non-null  float64
 94   num_il_tl                                   20000 non-null  float64
 95   num_op_rev_tl                               20000 non-null  float64
 96   num_rev_accts                               20000 non-null  float64
 97   num_rev_tl_bal_gt_0                         20000 non-null  float64
 98   num_sats                                    20000 non-null  float64
 99   num_tl_120dpd_2m                            18819 non-null  float64
 100  num_tl_30dpd                                20000 non-null  float64
 101  num_tl_90g_dpd_24m                          20000 non-null  float64
 102  num_tl_op_past_12m                          20000 non-null  float64
 103  pct_tl_nvr_dlq                              20000 non-null  float64
 104  percent_bc_gt_75                            19651 non-null  float64
 105  pub_rec_bankruptcies                        20000 non-null  float64
 106  tax_liens                                   20000 non-null  float64
 107  tot_hi_cred_lim                             20000 non-null  float64
 108  total_bal_ex_mort                           20000 non-null  float64
 109  total_bc_limit                              20000 non-null  float64
 110  total_il_high_credit_limit                  20000 non-null  float64
 111  revol_bal_joint                             2792 non-null   float64
 112  sec_app_earliest_cr_line                    2792 non-null   object
 113  sec_app_inq_last_6mths                      2792 non-null   float64
 114  sec_app_mort_acc                            2792 non-null   float64
 115  sec_app_open_acc                            2792 non-null   float64
 116  sec_app_revol_util                          2745 non-null   float64
 117  sec_app_open_act_il                         2792 non-null   float64
 118  sec_app_num_rev_accts                       2792 non-null   float64
 119  sec_app_chargeoff_within_12_mths            2792 non-null   float64
 120  sec_app_collections_12_mths_ex_med          2792 non-null   float64
 121  sec_app_mths_since_last_major_derog         998 non-null    float64
 122  hardship_flag                               20000 non-null  object
 123  hardship_type                               64 non-null     object
 124  hardship_reason                             64 non-null     object
 125  hardship_status                             64 non-null     object
 126  deferral_term                               64 non-null     float64
 127  hardship_amount                             64 non-null     float64
 128  hardship_start_date                         64 non-null     object
 129  hardship_end_date                           64 non-null     object
 130  payment_plan_start_date                     64 non-null     object
 131  hardship_length                             64 non-null     float64
 132  hardship_dpd                                64 non-null     float64
 133  hardship_loan_status                        64 non-null     object
 134  orig_projected_additional_accrued_interest  50 non-null     float64
 135  hardship_payoff_balance_amount              64 non-null     float64
 136  hardship_last_payment_amount                64 non-null     float64
 137  disbursement_method                         20000 non-null  object
 138  debt_settlement_flag                        20000 non-null  object
 139  debt_settlement_flag_date                   61 non-null     object
 140  settlement_status                           61 non-null     object
 141  settlement_date                             61 non-null     object
 142  settlement_amount                           61 non-null     float64
 143  settlement_percentage                       61 non-null     float64
 144  settlement_term                             61 non-null     float64
dtypes: float64(106), int64(4), object(35)
memory usage: 22.1+ MB

In [27]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,2.000000e+04,0.0,0.0,19961.000000,20000.000000,20000.00000,8992.000000,2914.000000,20000.000000,20000.000000,20000.000000,19963.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,4862.000000,20000.0,2.792000e+03,2792.000000,20000.00000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,19242.000000,20000.000000,16740.000000,20000.000000,20000.000000,20000.000000,19994.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,19997.000000,19653.000000,19646.000000,20000.000000,20000.000000,19242.000000,20000.000000,20000.000000,20000.000000,20000.000000,19672.000000,4076.000000,17495.000000,5889.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,18819.0,20000.00000,20000.000000,20000.000000,20000.000000,19651.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,2.000000e+04,2792.000000,2792.000000,2792.000000,2792.000000,2745.000000,2792.000000,2792.000000,2792.000000,2792.000000,998.000000,64.0,64.000000,64.0,64.000000,50.000000,64.000000,64.000000,61.000000,61.000000,61.000000
mean,NaN,NaN,15382.568750,15382.568750,15373.741922,12.606765,446.811954,7.842926e+04,NaN,NaN,19.214833,0.246400,0.49650,36.956962,77.992793,11.057900,0.165250,15415.688150,43.516676,22.127800,8377.290489,8372.905008,8031.681974,8026.753615,6232.746169,1757.637769,1.228706,40.069330,6.149841,2603.487688,0.021750,45.714726,1.0,1.211853e+05,19.649828,0.00055,185.200450,1.410774e+05,0.908750,2.620900,0.636500,1.510300,21.616204,33969.213950,67.577240,1.207550,2.569100,5528.216500,53.787686,36440.105450,1.000900,1.422200,1.939600,4.348950,14054.194879,14526.662291,49.069719,0.008800,11.296400,122.639487,179.093600,15.366400,8.745650,1.354250,25.995425,40.280913,7.177937,37.489896,0.467700,3.448200,5.105450,4.703550,6.999200,7.909350,7.79135,12.657300,5.029000,11.023500,0.0,0.00050,0.072000,1.970450,94.234615,32.322233,0.129700,0.035350,1.810228e+05,49500.361450,25365.907900,4.436502e+04,32759.315544,0.751791,1.413324,11.490330,59.742040,3.193768,12.423711,0.058381,0.095630,35.486974,3.0,198.607500,3.0,14.562500,582.361200,14786.188750,231.527187,8129.444590,53.103443,17.327869
std,NaN,NaN,10011.645757,10011.645757,10010.591629,4.929089,283.619373,8.363096e+04,NaN,NaN,21.957008,0.834938,0.78238,22.055265,24.543570,5.687958,0.464277,22845.011859,25.409374,11.731788,8291.549106,8290.262906,6951.524721,6949.741126,6546.212512,1570.050467,9.534786,367.534805,59.740728,5953.233604,0.179105,21.840407,0.0,6.237147e+04,8.079497,0.02549,1186.936786,1.683007e+05,1.133088,2.845521,0.896944,1.533529,26.840505,43478.989027,24.003849,1.473052,2.503485,5358.375953,21.717709,37020.542365,1.451518,2.570676,2.273392,3.161263,18258.768688,19228.843119,29.377757,0.111907,725.679605,54.493694,100.822641,19.217498,9.712897,1.720931,34.820223,22.455427,5.946760,22.100690,1.379511,2.343905,3.300133,3.168765,4.472348,7.099426,4.70687,7.691516,3.145831,5.674677,0.0,0.02449,0.562612,1.840773,9.439437,35.301888,0.344505,0.299006,1.899967e+05,51000.464205,25063.607841,4.724395e+04,28041.003357,1.075274,1.698211,6.736632,25.905343,3.597651,8.045636,0.391363,0.445313,24.286970,0.0,146.832687,0.0,8.620527,414.623586,8707.436533,223.560399,5727.283541,10.408760,6.922719
min,NaN,NaN,1000.000000,1000.000000,1000.000000,5.320000,7.610000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,2.270000e+04,0.280000,0.00000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,14.300000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,10.540000,3.0,0.000000,31.620000,1012.110000,0.240000,645.000000,40.000000,1.000000
25%,NaN,NaN,8000.000000,8000.000000,7975.000000,9.440000,238.170000,4.500000e+04,NaN,NaN,10.850000,0.000000,0.00000,19.000000,63.000000,7.000000,0.000000,4739.000000,23.400000,14.000000,8.182500,8.182500,3590.550000,3587.205000,2302.920000,617.760000,0.000000,0.000000,0.000000,268.090000,0.000000,29.000000,1.0,8.266825e+04,13.820000,0.00000,0.000000,2.525775e+04,0.000000,1.000000,0.000000,0.000000,7.000000,7449.750000,53.000000,0.000000,1.000000,2014.000000,39.000000,14800.000000,0.000000,0.000000,0.000000,2.000000,2850.000000,2818.000000,24.500000,0.000000,0.000000,87.000000,113.000000,4.000000,3.000000,0.000000,6.000000,22.000000,2.000000,20.000000,0.000000,2.000000,3.000000,3.000000,4.000000,3.000000,4.00000,7.000000,3.000000,7.000000,0.0,0.00000,0.000000,1.000000,91.700000,0.000000,0.000000,0.000000,4.975675e+04,18440.500000,9000.000000,1.453475e+04,14405.000000,0.000000,0.000000,7.000000,41.500000,1.000000,7.000000,0.000000,0.000000,14.000000,3.0,82.605000,3.0,7.000000,249.937500,7370.455000,52.777500,3542.960000,45.000000,14.000000
50%,NaN,NaN,12500.000000,12500.000000,12500.000000,11.990000,369.000000,6.500000e+04,NaN,NaN,17.260000,0.000000,0.00000,34.000000,81.000000,10.000000,0.000000,9867.500000,41.500000,20.000000,6391.410000,6391.400000,5941.780000,5938.740000,3961.910000,1265.800000,0.000000,0.000000,0.000000,466.200000,0.000000,46.000000,1.0,1.098330e+05,19.200000,0.00000,0.000000,7.002850e+04,1.000000,2.000000,0.000000,1.000000,14.000000,21917.000000,70.000000,1.000000,2.000000,4167.000000,55.000000,26500.000000,1.000000,0.000000,1.000000,4.000000,7038.000000,7810.000000,47.650000,0.000000,0.000000,129.000000,161.000000,9.000000,6.000000,1.000000,14.000000,38.000000,6.000000,35.000000,0.000000,3.000000,4.000000,4.000000,6.000000,6.000000,7.00000,11.000000,4.000000,10.000000,0.0,0.00000,0.000000,2.000000,100.000000,22.200000,0.000000,0.000000,1.111755e+05,35654.000000,18100.000000,3.299150e+04,25584.000000,0.000000,1.000000,10.000000,62.100000,2.000000,11.000000,0.000000,0.000000,33.500000,3.0,147.760000,3.0,15.500000,478.320000,13231.040000,159.820000,6422.000000,50.000000,18.000000
75%,NaN,NaN,20156.250000,20156.250000,20156.250000,15.050000,605.670000,9.500000e+04,NaN,NaN,24.580000,0.000000,1.00000,54.000000,97.000000,14.000000,0.000000,18336.000000,62.000000,28.000000,12951.920000,12950.137500,10284.092500,10278.142500,7315.540000,2452.350000,0.000000,0.000000,0.000000,922.480000,0.000000,63.000000,1.0,1.450000e+05,25.300000,0.00000,0.000000,2.112288e+05,1.000000,3.000000,1.000000,2.000000,24.000000,44218.250000,85.000000,2.000000,4.000000,7353.500000,69.000000,45900.000000,1.000000,2.000000,3.000000,6.000000,19499.000000,18626.000000,74.000000,0.000000,0.000000,153.000000,231.000000,19.000000,11.000000,2.000000,30.000000,57.000000,11.000000,52.000000,0.000000,5.000000,7.000000,6.000000,9.000000,10.000000,10.00000,16.000000,7.000000,14.000000,0.0,0.00000,0.000000,3.000000,100.000000,50.000000,0.000000,0.000000,2.606688e+05,63291.750000,33100.000000,6.007225e+04,42740.500000,1.000000,2.000000,15.000000,80.100000,4.000000,16.000000,0.000000,0.000000,54.000000,3.0,287.890000,3.0,22.000000,862.432500,21705.242500,332.567500,12162.660000,60.000000,24.000000
max,NaN,NaN,40000.000000,40000.000000,40000.000000,30.990000,1618.030000,6.500031e+06,NaN,NaN,999.000000,36.000000,5.00000,150.000000,120.000000,56.000000,18.000000,629372.000000,125.000000,96.000000,35250.640000,35250.640000,47101.212295,47101.210000,40000.000000,14105.790000,279.150000,9625.000000,2040.000000,40747.670000,9.000000,150.000000,1.0,1.058000e+06,39.770000,2.00000,57638.000000,2.460868e+06,11.000000,35.000000,6.000000,16.000000,374.000000,827988.000000,199.000000,18.000000,37.000000,146863.000000,160.000000,667100.000000,18.000000,33.000000,33.000000,37.000000,379822.000000,281029.000000,136.700000,5.000000,65000.000000,501.000000,785.000000,279.000000,197.000000,23.000000,539.000000,150.000000,24.000000,150.000000,31.000000,24.000000,33.000000,38.000000,54.000000,67.000000,53.00000,90.000000,30.000000,56.000000,0.0,2.00000,36.000000,19.000000,100.000000,100.000000,4.000000,18.000000,2.531600e+06,897835.000000,320000.000000,1.310923e+06,324858.000000,6.000000,13.000000,51.000000,159.300000,39.000000,62.000000,6.000000,6.000000,109.000000,3.0,629.820000,3.0,30.000000,1889.460000,32738.120000,979.360000,23000.000000,94.330000,24.000000

In [28]:
# numpy 함수로 데이터 shape 확인
df.shape

(20000, 145)

In [29]:
# 인덱스
df.index

RangeIndex(start=0, stop=20000, step=1)

In [ ]:
for idx in df.index:
    print(idx)

In [ ]:
# 컬럼
for col in df.columns:
    print(col)

In [ ]:
# 컬럼 고유값 출력

데이터셋을 살펴 본 결과 정체를 알 수 없는 많은 컬럼이 있는 걸 확인했고, 

50000개의 샘플이 불러들여진 것을 확인 할 수 있었습니다.

추가로 데이터 중간 중간 비어있는 값도 있는 것을 확인했습니다.

### 데이터접근 (인덱싱, 슬라이싱, 샘플링)

In [35]:
# 첫 샘플 혹은 레코드(대출건)에 대한 데이터를 살펴보겠습니다.
# 인덱스넘버로 데이터에 접근하는 .iloc[색인]
# 각 컬럼이나, 행단위 접근했을 때 출력되는 벡터 데이터를 Serise(시리즈) 라고 하는 자료구조
# index, values로 각각의 속성에 접근 가능
df.iloc[0] # 0번 인덱스 데이터
df.iloc[0].values

array([nan, nan, 10000, 10000, 10000.0, ' 36 months', 9.44, 320.05, 'B',
       'B1', 'mechanic', '6 years', 'MORTGAGE', 80000.0, 'Not Verified',
       'Dec-2017', 'Current', 'n', nan, nan, 'credit_card',
       'Credit card refinancing', '762xx', 'TX', 14.82, 0.0, 'Jul-2007',
       0.0, 34.0, nan, 8.0, 0.0, 5225, 73.6, 30.0, 'w', 6442.28, 6442.28,
       4493.81, 4493.81, 3557.72, 936.09, 0.0, 0.0, 0.0, 'Feb-2019',
       320.05, 'Mar-2019', 'Feb-2019', 0.0, nan, 1, 'Individual', nan,
       nan, nan, 0.0, 0.0, 173110.0, 0.0, 2.0, 0.0, 2.0, 23.0, 12496.0,
       39.0, 0.0, 0.0, 3949.0, 45.0, 7100.0, 1.0, 0.0, 0.0, 2.0, 21639.0,
       1875.0, 73.6, 0.0, 0.0, 125.0, 78.0, 26.0, 23.0, 3.0, 26.0, nan,
       21.0, nan, 0.0, 2.0, 2.0, 4.0, 4.0, 21.0, 4.0, 5.0, 2.0, 8.0, 0.0,
       0.0, 0.0, 0.0, 96.4, 25.0, 0.0, 0.0, 196130.0, 17756.0, 7100.0,
       31992.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'N', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'Cash', 'N', nan, nan, nan, nan, nan, nan], dtype=object)

In [37]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
# start, end+1, step
df.iloc[10:20:2]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
10,NaN,NaN,40000,40000,40000.0,60 months,16.02,973.15,C,C5,IT Manager - Business Process,10+ years,OWN,140000.0,Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,292xx,SC,31.79,1.0,Aug-1999,0.0,3.0,NaN,11.0,0.0,34632,59.5,52.0,w,33288.83,33288.83,13602.03,13602.03,6711.17,6890.86,0.00,0.0,0.0,Feb-2019,973.15,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,59.0,81346.0,0.0,3.0,0.0,0.0,29.0,46714.0,50.0,0.0,1.0,19100.0,53.0,104500.0,0.0,0.0,1.0,1.0,8135.0,63703.0,57.9,0.0,0.0,220.0,213.0,13.0,13.0,0.0,13.0,NaN,9.0,3.0,0.0,2.0,6.0,2.0,17.0,22.0,8.0,30.0,6.0,11.0,0.0,0.0,0.0,0.0,98.0,0.0,0.0,0.0,197500.0,81346.0,88000.0,93000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,6025,6025,6025.0,36 months,17.09,215.08,D,D1,Account Manager,5 years,RENT,62000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,010xx,MA,14.65,0.0,Aug-2004,1.0,NaN,NaN,9.0,0.0,6363,37.4,15.0,w,750.33,750.33,6002.55,6002.55,5274.67,727.88,0.00,0.0,0.0,Feb-2019,215.08,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,578.0,21201.0,0.0,3.0,1.0,2.0,9.0,14838.0,57.0,1.0,3.0,1997.0,49.0,17000.0,2.0,0.0,3.0,5.0,2356.0,10637.0,37.4,0.0,0.0,157.0,160.0,8.0,8.0,0.0,8.0,NaN,2.0,NaN,0.0,5.0,5.0,5.0,5.0,8.0,5.0,7.0,5.0,9.0,0.0,0.0,0.0,2.0,100.0,40.0,0.0,0.0,42956.0,21201.0,17000.0,25956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,10200,10200,10200.0,36 months,11.99,338.74,B,B5,Machine operator,4 years,RENT,35000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,635xx,MO,15.26,0.0,Dec-2008,1.0,NaN,NaN,6.0,0.0,4238,26.2,19.0,w,6662.23,6662.23,4745.71,4745.71,3537.77,1191.00,16.94,0.0,0.0,Feb-2019,338.74,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,21882.0,1.0,1.0,1.0,1.0,11.0,17644.0,90.0,1.0,4.0,2193.0,61.0,16200.0,0.0,0.0,5.0,5.0,3647.0,5493.0,31.3,0.0,0.0,108.0,26.0,4.0,4.0,0.0,14.0,NaN,4.0,NaN,0.0,2.0,3.0,3.0,3.0,14.0,5.0,5.0,3.0,6.0,0.0,0.0,0.0,2.0,100.0,33.3,0.0,0.0,35828.0,21882.0,8000.0,19628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,23000,23000,23000.0,60 months,19.03,597.02,D,D3,Installation Manager,10+ years,MORTGAGE,75000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,585xx,ND,27.64,0.0,Dec-2002,1.0,43.0,NaN,14.0,0.0,21795,56.6,22.0,w,19390.68,19390.68,8309.65,8309.65,3609.32,4700.33,0.00,0.0,0.0,Feb-2019,597.02,Mar-2019,Feb-2019,0.0,50.0,1,Individual,NaN,NaN,NaN,0.0,0.0,165604.0,0.0,4.0,0.0,2.0,13.0,35227.0,56.0,1.0,2.0,7087.0,56.0,38500.0,2.0,3.0,1.0,4.0,12739.0,16705.0,56.6,0.0,0.0,179.0,157.0,11.0,11.0,4.0,11.0,NaN,0.0,50.0,1.0,6.0,6.0,8.0,8.0,8.0,9.0,10.0,6.0,14.0,0.0,0.0,0.0,1.0,90.9,12.5,0.0,0.0,224502.0,57022.0,38500.0,63302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,12000,12000,12000.0,60 months,12.62,270.71,C,C1,commercial sales,10+ years,OWN,40000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,394xx,MS,7.74,0.0,Nov-1986,0.0,NaN,NaN,3.0,0.0,5742,13.9,10.0,w,9832.57,9832.57,3773.11,3773.11,2167.43,1605.68,0.00,0.0,0.0,Feb-2019,270.71,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,383.0,5742.0,0.0,0.0,0.0,1.0,24.0,0.0,NaN,0.0,0.0,5581.0,14.0,41300.0,0.0,0.0,0.0,1.0,1914.0,35558.0,13.9,0.0,0.0,137.0,372.0,52.0,24.0,0.0,52.0,NaN,NaN,NaN,0.0,2.0,2.0,3.0,7.0,2.0,3.0,8.0,2.0,3.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,41300.0,5742.0,41300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# 컬럼 단위 샘플 접근
df['emp_title'] # << 딕셔너리 구조

# df[텍스트형태의 컬럼명]
# 인덱싱이나 슬라이싱으로 데이터에 접근을 할 때 큰 단위를 선택하고 그 결과에서 인덱싱 혹은 슬라이싱을 하면
# 조금 더 편하게, 쉽게 데이터 접근이 가능하다.

0                       mechanic
1                            NaN
2                   Truck driver
3         Confidential Secretary
4                General Manager
                  ...
19995                    Partner
19996    Senior Property Manager
19997          Mechanic engineer
19998                    Teacher
19999         Director of Design
Name: emp_title, Length: 20000, dtype: object

In [39]:
# 여러 컬럼 동시 접근
df[['grade','sub_grade']]

      grade sub_grade
0         B        B1
1         B        B3
2         C        C2
3         B        B4
4         C        C2
...     ...       ...
19995     B        B1
19996     C        C3
19997     C        C1
19998     D        D3
19999     D        D1

[20000 rows x 2 columns]

In [41]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
# 10~20까지 인덱스 접근

df.loc[10:20, ['grade','sub_grade']]

   grade sub_grade
10     C        C5
11     C        C2
12     D        D1
13     B        B1
14     B        B5
15     C        C1
16     D        D3
17     D        D5
18     C        C1
19     D        D2
20     D        D4

In [45]:
# df의 컬럼명을 순환하면서 컬럼단위로 접근하고 각 컬럼의 고유값을 출력해주는 코드
for col in df.columns:
    print(col,":",df[col].unique())

id : [nan]
member_id : [nan]
loan_amnt : [10000  3500  5000 14000 36000 20000  3200 14500 35000 40000 18000  6025
 10200 28000 23000 12000  1500 14400 25000 15500 11200  7200 21600 15600
 30000  6500  8000 22000  2000  3000  6000 13000  7800  5600 16000  4000
 10800 15000 13125  4150 32000  9000 11000  3600  8400  5500  3400  3800
 24000  6525 16800  1000 17000 26500 19000  6400 19750 21800 27000  9500
 17525 11500  7000  3025  9300  3300 33000  1400 21000  5400 26000 25525
  1300  9600  2500 10500  4800  1600 17500 19500  2200  7500  6600 19200
 11150  5300 28550 32900 11525  4500  7600 15300 34000  4400 37800 10550
 20800 24625 22725  6650 28150  2550 18500  6200 17600 13200  4600 24475
 18025 26450 27725  7625 12800 24875 16500  3550  4300 28850 15225  2975
 13675 16400 13600  5100 11075 14200 28675  2150  5375  2525  2400  8300
  6300 18400 16750 27200 38000  9800 11450 13925 21500 21200 15200 23800
 15575 20125 15450 18150  2800 22500 17450 30100 10600 23300 21250 13150
 28800  8500 25200 24500  9100  1900 17800  4200  2300  4700 16700  9200
 39325 23650 28950 12500 10075 17350  1475 30600 15400 21975 14700  5825
 20625  8075 24725  4050  5800  7225 26400  4750 16600  3375  9400  3850
 16125  2100 11400 14750  5650 13500 14850 31500  5325 11600 23550 13250
  4425  6800 19125 17475  5750 26250  1200  8200 29850 28225 22425 13875
  5200 14950 26725  1700 18200 27750  3900 29825  2750  6100 15750 34400
 16050 18775 25350 20875 29700  8650 18700 16625 14525 18250  2900 34675
  1750 29750 30325  8525 31475 29325 21425 22175 29775 14775  1800 16325
 17425 13175  7100  9700  8700 19725 25600  2450 16100  9825  1850 13300
 31575 37450 37000  3350 29000 19425 14975 19600  1450 20400  6350 10400
 36600 23100 25500 18925 19775 25450 23850  7150 29800 17575  8800 36425
  9650  4100 32925  4075 33525 16375 12300 12600 38450  6700  1100 23200
 23050  4225 24025 13400 32500 22200 22800 15800 28500 10300 21050 24300
 20650 31975 16575  8425  7075  9950  9750  4900  7125 25800 20300 13850
 22100 26875 12400 11300  7975 16200  3750 17850 39500 24100  3250 31225
 13800 32800 23825 30750 26700 27125  4375 32250 13650  1875 12250 20250
  5875 11700  8875 11850  2825 22400  2250 34650  1025  6725 28075  9850
  4325 11775 22625 18750 29650 28400 13450 26775 12750  6900 13100 19150
 17925 10450  9450  7675 14125 18425 31050 15350 15675  7450 23150 22750
 25150 34800 37350 34250  7725 17625 18050 32750  1250 34850 38400 33300
 23450 22150 31000 24925 30400 12125  7425 33600 13900 35200 27600 33575
 14475  7400  5250  8950 11050 31925 29025  8100 20150 29500 10750 11025
 20325 33950 23725 17400  7950 38975 20825  7375 14100 12175 17550 24750
 10475  6250 10700  2700  5625  3700 37200 21825  8250 31850 11950 30150
 22900 30075 20500 10850  8900 28050 14900 18900 10375  7550 14300  4025
 20375 16275 38125 24800 29100 31400  1675 29600  8750 20175 27700 23575
 36675 34600  6750 29425 27650 37250 25725 10675  6375  8825 39900 23225
 21775 34350 15825  5725 18725 12375  1650 24050 23750 33850 24075 38850
  4725 10150  9325 15075  7700 27175  6075 17300 12100  6325 23975  5050
  7525  8600 32550 29900 30025 23675  5900  6975 27350 11900 28775 17900
  7850 38700 10975 23250 11800 27550 17275 29875  4850 12525 22550 17750
 11100 19825 30800 10100 29400  1375  9125 16950 12650  7575  2675 12425
  6125  7300 10250 16675 29150 13425 36575 23425 22225 12700 16650 19300
  9375  2600  2650 10650 21400  9475 12050  3275 14375 12200 34700 21625
 32675 27875  3875  4775 31675  3625  7750 14050 17100 22825 11175 25175
  2225  7775 11750 22450 38500 13975 32150  3475 17700 17050  6850 29625
  5525 16300 37975 37900  6225 21350 28250 11975  7900 15550  5550  3675
 22025 20975 27500 38875 28350 21275  7250 10825 23475  2875 15425 20575
  9175 25900 31650 18350 15375 32325 19800 34500 33150 16250 27050 10625
 24700 15700 28125 36750 37600 20225  6450 25075 15850 12325 33325 17125
 20350 22650 19325 17250 24175 25925  7650  6950 15125 19975 33175 29525
 21550 24900 28200 29350 20675 19175 13325 13050 20425 11725 25650 16225
 26150 34925 32125 29725 14725  1150 17975 27250 18975  3775 28700 16725
 33825 33125 12475 19100 37650 14250 30450 32600 20550 16850 23500  9425
 37400 25625 20075 14425  9575 24575 24600 23600 19250 19400 26050 26425
 29675 34150 34125 12550 26275  6625 28475 34900 10575 10175 23175 21750
 23525 25825 25700 10775 36525 21150 26300 18100 10025 17675 20450 32200
 26675 20925 14450  7825  5700 10525 26850  8375  7475 22325 39000 14925
  6050 17875 27900 15900 32775 30500 19575 30300 28175 21100  1350  5025
 32400 23700  3075  8050 17225 22950 22775 14825 33075 10900  6425 14650
 12950 27450 28450 37525 17375 14600 28875  8150 30850 28600 23925  2025
  5075 37500  8925 39350 35375  3525 23375  5975 33500  5275 29575  9525
  9875  3100 35825  7050 27800 18325 18800 23275  7275 18075 32475 29550
 26750 24250  4575 21075 10875  2725 16775 23900 30350 19650 24325  8675
 13700  9550 27275 14175 20100 16450 36200 17725  9900 13775 29050 27675
 31375 16825  5450 27825 30475 34275 15150 21950 27300 11825 20850 15950
  8475 35325 14575  5125 29975  4250 18525 14800 19675 18175  8975 34575
 12350 33050 35125 15250 10275 12275 12875 29225 39525  9250 26350 26625
 18600 25425 14150 13725 31425 25675 10350 31725 33650 24525 20275 17775
 27375 22475 31950 22125  3950 28725 39175 30200  3450  6775  5950 27850
 36400  8325 14350 38275 16025 38600 31200  9050 21525 33400 26325 29450
  6550  3150 11475 21925 24550 12450 21025 29475  8450 23075 15475 17025
 29375 29125 14325 13750 36500 30700 13950 35725 18625 32525 28275 27775
 19900 15925 26575  5775 19925 29250  8575 22575 35225]
funded_amnt : [10000  3500  5000 14000 36000 20000  3200 14500 35000 40000 18000  6025
 10200 28000 23000 12000  1500 14400 25000 15500 11200  7200 21600 15600
 30000  6500  8000 22000  2000  3000  6000 13000  7800  5600 16000  4000
 10800 15000 13125  4150 32000  9000 11000  3600  8400  5500  3400  3800
 24000  6525 16800  1000 17000 26500 19000  6400 19750 21800 27000  9500
 17525 11500  7000  3025  9300  3300 33000  1400 21000  5400 26000 25525
  1300  9600  2500 10500  4800  1600 17500 19500  2200  7500  6600 19200
 11150  5300 28550 32900 11525  4500  7600 15300 34000  4400 37800 10550
 20800 24625 22725  6650 28150  2550 18500  6200 17600 13200  4600 24475
 18025 26450 27725  7625 12800 24875 16500  3550  4300 28850 15225  2975
 13675 16400 13600  5100 11075 14200 28675  2150  5375  2525  2400  8300
  6300 18400 16750 27200 38000  9800 11450 13925 21500 21200 15200 23800
 15575 20125 15450 18150  2800 22500 17450 30100 10600 23300 21250 13150
 28800  8500 25200 24500  9100  1900 17800  4200  2300  4700 16700  9200
 39325 23650 28950 12500 10075 17350  1475 30600 15400 21975 14700  5825
 20625  8075 24725  4050  5800  7225 26400  4750 16600  3375  9400  3850
 16125  2100 11400 14750  5650 13500 14850 31500  5325 11600 23550 13250
  4425  6800 19125 17475  5750 26250  1200  8200 29850 28225 22425 13875
  5200 14950 26725  1700 18200 27750  3900 29825  2750  6100 15750 34400
 16050 18775 25350 20875 29700  8650 18700 16625 14525 18250  2900 34675
  1750 29750 30325  8525 31475 29325 21425 22175 29775 14775  1800 16325
 17425 13175  7100  9700  8700 19725 25600  2450 16100  9825  1850 13300
 31575 37450 37000  3350 29000 19425 14975 19600  1450 20400  6350 10400
 36600 23100 25500 18925 19775 25450 23850  7150 29800 17575  8800 36425
  9650  4100 32925  4075 33525 16375 12300 12600 38450  6700  1100 23200
 23050  4225 24025 13400 32500 22200 22800 15800 28500 10300 21050 24300
 20650 31975 16575  8425  7075  9950  9750  4900  7125 25800 20300 13850
 22100 26875 12400 11300  7975 16200  3750 17850 39500 24100  3250 31225
 13800 32800 23825 30750 26700 27125  4375 32250 13650  1875 12250 20250
  5875 11700  8875 11850  2825 22400  2250 34650  1025  6725 28075  9850
  4325 11775 22625 18750 29650 28400 13450 26775 12750  6900 13100 19150
 17925 10450  9450  7675 14125 18425 31050 15350 15675  7450 23150 22750
 25150 34800 37350 34250  7725 17625 18050 32750  1250 34850 38400 33300
 23450 22150 31000 24925 30400 12125  7425 33600 13900 35200 27600 33575
 14475  7400  5250  8950 11050 31925 29025  8100 20150 29500 10750 11025
 20325 33950 23725 17400  7950 38975 20825  7375 14100 12175 17550 24750
 10475  6250 10700  2700  5625  3700 37200 21825  8250 31850 11950 30150
 22900 30075 20500 10850  8900 28050 14900 18900 10375  7550 14300  4025
 20375 16275 38125 24800 29100 31400  1675 29600  8750 20175 27700 23575
 36675 34600  6750 29425 27650 37250 25725 10675  6375  8825 39900 23225
 21775 34350 15825  5725 18725 12375  1650 24050 23750 33850 24075 38850
  4725 10150  9325 15075  7700 27175  6075 17300 12100  6325 23975  5050
  7525  8600 32550 29900 30025 23675  5900  6975 27350 11900 28775 17900
  7850 38700 10975 23250 11800 27550 17275 29875  4850 12525 22550 17750
 11100 19825 30800 10100 29400  1375  9125 16950 12650  7575  2675 12425
  6125  7300 10250 16675 29150 13425 36575 23425 22225 12700 16650 19300
  9375  2600  2650 10650 21400  9475 12050  3275 14375 12200 34700 21625
 32675 27875  3875  4775 31675  3625  7750 14050 17100 22825 11175 25175
  2225  7775 11750 22450 38500 13975 32150  3475 17700 17050  6850 29625
  5525 16300 37975 37900  6225 21350 28250 11975  7900 15550  5550  3675
 22025 20975 27500 38875 28350 21275  7250 10825 23475  2875 15425 20575
  9175 25900 31650 18350 15375 32325 19800 34500 33150 16250 27050 10625
 24700 15700 28125 36750 37600 20225  6450 25075 15850 12325 33325 17125
 20350 22650 19325 17250 24175 25925  7650  6950 15125 19975 33175 29525
 21550 24900 28200 29350 20675 19175 13325 13050 20425 11725 25650 16225
 26150 34925 32125 29725 14725  1150 17975 27250 18975  3775 28700 16725
 33825 33125 12475 19100 37650 14250 30450 32600 20550 16850 23500  9425
 37400 25625 20075 14425  9575 24575 24600 23600 19250 19400 26050 26425
 29675 34150 34125 12550 26275  6625 28475 34900 10575 10175 23175 21750
 23525 25825 25700 10775 36525 21150 26300 18100 10025 17675 20450 32200
 26675 20925 14450  7825  5700 10525 26850  8375  7475 22325 39000 14925
  6050 17875 27900 15900 32775 30500 19575 30300 28175 21100  1350  5025
 32400 23700  3075  8050 17225 22950 22775 14825 33075 10900  6425 14650
 12950 27450 28450 37525 17375 14600 28875  8150 30850 28600 23925  2025
  5075 37500  8925 39350 35375  3525 23375  5975 33500  5275 29575  9525
  9875  3100 35825  7050 27800 18325 18800 23275  7275 18075 32475 29550
 26750 24250  4575 21075 10875  2725 16775 23900 30350 19650 24325  8675
 13700  9550 27275 14175 20100 16450 36200 17725  9900 13775 29050 27675
 31375 16825  5450 27825 30475 34275 15150 21950 27300 11825 20850 15950
  8475 35325 14575  5125 29975  4250 18525 14800 19675 18175  8975 34575
 12350 33050 35125 15250 10275 12275 12875 29225 39525  9250 26350 26625
 18600 25425 14150 13725 31425 25675 10350 31725 33650 24525 20275 17775
 27375 22475 31950 22125  3950 28725 39175 30200  3450  6775  5950 27850
 36400  8325 14350 38275 16025 38600 31200  9050 21525 33400 26325 29450
  6550  3150 11475 21925 24550 12450 21025 29475  8450 23075 15475 17025
 29375 29125 14325 13750 36500 30700 13950 35725 18625 32525 28275 27775
 19900 15925 26575  5775 19925 29250  8575 22575 35225]
funded_amnt_inv : [10000.  3500.  5000. ...  8575. 22575. 35225.]
term : [' 36 months' ' 60 months']
int_rate : [ 9.44 10.42 13.59 10.91 14.08  9.93 16.02  6.08 17.09 11.99 12.62 19.03
 21.45 18.06 20.   15.05  6.72  7.97  5.32  7.35 23.88 29.69 30.17 28.72
 22.91 25.82 26.3  24.85 30.79 30.65  6.   30.75 30.99 30.84  7.21  7.07
 30.94]
installment : [320.05 113.63 169.9  ...  60.33 147.45 914.34]
grade : ['B' 'C' 'A' 'D' 'E' 'F' 'G']
sub_grade : ['B1' 'B3' 'C2' 'B4' 'C3' 'B2' 'C5' 'A2' 'D1' 'B5' 'C1' 'D3' 'D5' 'D2'
 'D4' 'C4' 'A3' 'A5' 'A1' 'A4' 'E2' 'F2' 'F3' 'F1' 'E1' 'E4' 'E5' 'E3'
 'G1' 'F4' 'F5' 'G5' 'G2' 'G4']
emp_title : ['mechanic' nan 'Truck driver' ... 'Design Specialist' 'Mechanic engineer'
 'Director of Design']
emp_length : ['6 years' nan '10+ years' '2 years' '< 1 year' '1 year' '5 years'
 '4 years' '3 years' '7 years' '8 years' '9 years']
home_ownership : ['MORTGAGE' 'OWN' 'RENT']
annual_inc : [ 80000.  90000. 168000. ...  41275. 209000.  53300.]
verification_status : ['Not Verified' 'Source Verified' 'Verified']
issue_d : ['Dec-2017' 'Nov-2017']
loan_status : ['Current' 'In Grace Period' 'Fully Paid' 'Late (31-120 days)'
 'Charged Off' 'Late (16-30 days)']
pymnt_plan : ['n' 'y']
url : [nan]
desc : [nan]
purpose : ['credit_card' 'other' 'debt_consolidation' 'moving' 'home_improvement'
 'major_purchase' 'car' 'medical' 'house' 'small_business' 'vacation'
 'renewable_energy']
title : ['Credit card refinancing' 'Other' 'Debt consolidation'
 'Moving and relocation' 'Home improvement' 'Major purchase'
 'Car financing' 'Medical expenses' 'Home buying' 'Business' 'Vacation'
 'Green loan']
zip_code : ['762xx' '295xx' '788xx' '125xx' '672xx' '920xx' '750xx' '936xx' '765xx'
 '388xx' '292xx' '027xx' '010xx' '439xx' '635xx' '945xx' '585xx' '331xx'
 '394xx' '197xx' '799xx' '770xx' '630xx' '301xx' '274xx' '791xx' '461xx'
 '912xx' '935xx' '973xx' '458xx' '220xx' '333xx' '206xx' '631xx' '967xx'
 '080xx' '307xx' '104xx' '801xx' '971xx' '166xx' '950xx' '970xx' '989xx'
 '550xx' '344xx' '913xx' '226xx' '891xx' '705xx' '890xx' '925xx' '146xx'
 '293xx' '335xx' '372xx' '914xx' '337xx' '933xx' '853xx' '445xx' '462xx'
 '802xx' '604xx' '164xx' '840xx' '365xx' '144xx' '548xx' '956xx' '062xx'
 '341xx' '421xx' '114xx' '940xx' '330xx' '120xx' '974xx' '690xx' '560xx'
 '620xx' '577xx' '809xx' '483xx' '315xx' '400xx' '014xx' '727xx' '658xx'
 '660xx' '225xx' '113xx' '356xx' '347xx' '597xx' '300xx' '773xx' '930xx'
 '370xx' '847xx' '450xx' '327xx' '474xx' '142xx' '864xx' '287xx' '277xx'
 '023xx' '730xx' '806xx' '922xx' '088xx' '995xx' '078xx' '224xx' '760xx'
 '169xx' '968xx' '383xx' '605xx' '766xx' '322xx' '731xx' '275xx' '260xx'
 '117xx' '280xx' '020xx' '328xx' '953xx' '038xx' '129xx' '423xx' '212xx'
 '190xx' '320xx' '594xx' '403xx' '431xx' '312xx' '618xx' '452xx' '305xx'
 '180xx' '959xx' '373xx' '381xx' '152xx' '871xx' '178xx' '302xx' '410xx'
 '207xx' '480xx' '103xx' '236xx' '751xx' '606xx' '350xx' '112xx' '906xx'
 '600xx' '851xx' '276xx' '781xx' '706xx' '130xx' '647xx' '223xx' '958xx'
 '983xx' '290xx' '664xx' '495xx' '487xx' '278xx' '070xx' '535xx' '198xx'
 '210xx' '740xx' '786xx' '189xx' '668xx' '800xx' '588xx' '325xx' '237xx'
 '441xx' '546xx' '674xx' '296xx' '264xx' '648xx' '460xx' '028xx' '442xx'
 '531xx' '850xx' '997xx' '928xx' '608xx' '939xx' '234xx' '065xx' '282xx'
 '601xx' '107xx' '064xx' '211xx' '952xx' '761xx' '032xx' '395xx' '085xx'
 '173xx' '640xx' '774xx' '100xx' '711xx' '947xx' '852xx' '087xx' '183xx'
 '972xx' '622xx' '671xx' '232xx' '286xx' '655xx' '613xx' '017xx' '754xx'
 '943xx' '490xx' '273xx' '329xx' '787xx' '214xx' '707xx' '151xx' '547xx'
 '446xx' '980xx' '193xx' '917xx' '902xx' '303xx' '833xx' '941xx' '775xx'
 '757xx' '111xx' '030xx' '076xx' '110xx' '844xx' '021xx' '294xx' '298xx'
 '923xx' '195xx' '346xx' '954xx' '549xx' '986xx' '492xx' '926xx' '310xx'
 '279xx' '553xx' '463xx' '175xx' '559xx' '073xx' '905xx' '703xx' '633xx'
 '040xx' '097xx' '145xx' '736xx' '156xx' '907xx' '919xx' '721xx' '993xx'
 '584xx' '625xx' '285xx' '484xx' '313xx' '215xx' '251xx' '067xx' '713xx'
 '948xx' '122xx' '937xx' '194xx' '673xx' '557xx' '921xx' '033xx' '752xx'
 '336xx' '283xx' '563xx' '981xx' '532xx' '191xx' '481xx' '262xx' '105xx'
 '018xx' '163xx' '680xx' '860xx' '469xx' '931xx' '044xx' '900xx' '402xx'
 '946xx' '609xx' '379xx' '200xx' '339xx' '334xx' '984xx' '060xx' '652xx'
 '209xx' '831xx' '272xx' '790xx' '397xx' '077xx' '229xx' '909xx' '782xx'
 '034xx' '797xx' '066xx' '611xx' '486xx' '378xx' '323xx' '106xx' '128xx'
 '366xx' '148xx' '326xx' '115xx' '390xx' '082xx' '321xx' '836xx' '432xx'
 '662xx' '072xx' '805xx' '882xx' '657xx' '957xx' '238xx' '700xx' '342xx'
 '116xx' '101xx' '247xx' '443xx' '063xx' '371xx' '170xx' '430xx' '894xx'
 '464xx' '804xx' '479xx' '951xx' '482xx' '857xx' '451xx' '554xx' '944xx'
 '456xx' '393xx' '737xx' '841xx' '324xx' '257xx' '898xx' '982xx' '468xx'
 '749xx' '254xx' '199xx' '109xx' '530xx' '793xx' '042xx' '777xx' '641xx'
 '352xx' '453xx' '934xx' '250xx' '488xx' '846xx' '360xx' '675xx' '161xx'
 '470xx' '985xx' '712xx' '685xx' '723xx' '544xx' '029xx' '408xx' '244xx'
 '235xx' '127xx' '719xx' '924xx' '895xx' '859xx' '780xx' '134xx' '949xx'
 '404xx' '960xx' '810xx' '551xx' '996xx' '121xx' '656xx' '903xx' '602xx'
 '798xx' '473xx' '543xx' '154xx' '016xx' '380xx' '386xx' '217xx' '614xx'
 '221xx' '256xx' '309xx' '465xx' '581xx' '314xx' '815xx' '827xx' '978xx'
 '231xx' '355xx' '910xx' '387xx' '297xx' '785xx' '086xx' '704xx' '162xx'
 '681xx' '955xx' '271xx' '756xx' '208xx' '123xx' '636xx' '011xx' '368xx'
 '222xx' '796xx' '281xx' '433xx' '026xx' '411xx' '216xx' '838xx' '391xx'
 '181xx' '069xx' '816xx' '591xx' '572xx' '374xx' '304xx' '015xx' '932xx'
 '645xx' '666xx' '150xx' '201xx' '140xx' '440xx' '068xx' '241xx' '592xx'
 '778xx' '138xx' '316xx' '603xx' '539xx' '617xx' '172xx' '638xx' '541xx'
 '126xx' '720xx' '083xx' '252xx' '904xx' '596xx' '701xx' '319xx' '349xx'
 '494xx' '075xx' '035xx' '911xx' '437xx' '012xx' '457xx' '537xx' '351xx'
 '726xx' '444xx' '877xx' '153xx' '728xx' '024xx' '767xx' '385xx' '586xx'
 '627xx' '171xx' '284xx' '496xx' '534xx' '218xx' '246xx' '184xx' '186xx'
 '268xx' '196xx' '255xx' '908xx' '471xx' '634xx' '263xx' '856xx' '875xx'
 '288xx' '863xx' '253xx' '050xx' '714xx' '396xx' '571xx' '102xx' '607xx'
 '270xx' '228xx' '628xx' '803xx' '243xx' '811xx' '794xx' '119xx' '610xx'
 '071xx' '054xx' '874xx' '449xx' '689xx' '743xx' '358xx' '245xx' '716xx'
 '990xx' '476xx' '768xx' '493xx' '053xx' '741xx' '784xx' '405xx' '219xx'
 '084xx' '623xx' '991xx' '037xx' '598xx' '665xx' '182xx' '061xx' '776xx'
 '616xx' '139xx' '582xx' '661xx' '881xx' '454xx' '187xx' '759xx' '629xx'
 '992xx' '338xx' '155xx' '832xx' '489xx' '448xx' '436xx' '306xx' '729xx'
 '745xx' '389xx' '644xx' '873xx' '265xx' '074xx' '927xx' '249xx' '820xx'
 '722xx' '472xx' '755xx' '177xx' '724xx' '425xx' '564xx' '916xx' '435xx'
 '179xx' '039xx' '915xx' '031xx' '612xx' '565xx' '233xx' '573xx' '291xx'
 '136xx' '354xx' '359xx' '843xx' '975xx' '159xx' '025xx' '763xx' '174xx'
 '626xx' '764xx' '051xx' '988xx' '406xx' '361xx' '308xx' '239xx' '837xx'
 '897xx' '599xx' '561xx' '108xx' '994xx' '834xx' '049xx' '317xx' '168xx'
 '590xx' '769xx' '478xx' '738xx' '176xx' '019xx' '048xx' '686xx' '587xx'
 '384xx' '424xx' '540xx' '118xx' '744xx' '230xx' '135xx' '497xx' '240xx'
 '808xx' '678xx' '132xx' '961xx' '977xx' '079xx' '753xx' '650xx' '779xx'
 '377xx' '558xx' '137xx' '147xx' '434xx' '670xx' '398xx' '637xx' '141xx'
 '046xx' '466xx' '812xx' '058xx' '814xx' '363xx' '883xx' '258xx' '467xx'
 '420xx' '289xx' '158xx' '485xx' '165xx' '477xx' '047xx' '708xx' '417xx'
 '013xx' '157xx' '880xx' '669xx' '261xx' '542xx' '227xx' '362xx' '545xx'
 '242xx' '188xx' '653xx' '870xx' '382xx' '376xx' '491xx' '619xx' '684xx'
 '688xx' '498xx' '409xx' '036xx' '318xx' '367xx' '651xx' '667xx' '748xx'
 '735xx' '575xx' '879xx' '081xx' '758xx' '149xx' '089xx' '422xx' '267xx'
 '259xx' '718xx' '427xx' '855xx' '052xx' '415xx' '475xx' '646xx' '124xx'
 '133xx' '364xx' '056xx' '567xx' '045xx' '570xx' '677xx' '266xx' '248xx'
 '160xx' '687xx' '499xx' '918xx' '447xx' '057xx' '528xx' '807xx' '185xx'
 '538xx' '357xx' '828xx' '683xx' '624xx' '734xx' '795xx' '783xx' '299xx'
 '414xx' '022xx' '824xx' '976xx' '098xx' '639xx' '789xx' '131xx' '829xx'
 '392xx' '710xx' '835xx' '043xx' '401xx' '813xx' '998xx' '999xx' '717xx'
 '615xx' '693xx' '407xx' '679xx' '438xx' '826xx' '822xx' '725xx' '143xx'
 '416xx' '455xx' '865xx' '691xx' '574xx' '746xx' '884xx' '167xx' '369xx'
 '332xx' '556xx' '593xx' '676xx' '566xx']
addr_state : ['TX' 'SC' 'NY' 'KS' 'CA' 'MS' 'MA' 'OH' 'MO' 'ND' 'FL' 'DE' 'GA' 'NC'
 'IN' 'OR' 'VA' 'MD' 'HI' 'NJ' 'CO' 'PA' 'WA' 'MN' 'NV' 'LA' 'TN' 'AZ'
 'IL' 'UT' 'AL' 'WI' 'CT' 'KY' 'NE' 'SD' 'MI' 'AR' 'MT' 'OK' 'AK' 'WV'
 'NH' 'NM' 'RI' 'ID' 'ME' 'WY' 'VT' 'DC']

In [46]:
# 고윳값 갯수 출력
for col in df.columns:
    print(col,":",df[col].nunique())

id : 0
member_id : 0
loan_amnt : 921
funded_amnt : 921
funded_amnt_inv : 1020
term : 2
int_rate : 37
installment : 3920
grade : 7
sub_grade : 34
emp_title : 9427
emp_length : 11
home_ownership : 3
annual_inc : 2343
verification_status : 3
issue_d : 2
loan_status : 6
pymnt_plan : 2
url : 0
desc : 0
purpose : 12
title : 12
zip_code : 842
addr_state : 50
dti : 4287
delinq_2yrs : 19
earliest_cr_line : 555
inq_last_6mths : 6
mths_since_last_delinq : 109
mths_since_last_record : 120
open_acc : 49
pub_rec : 11
revol_bal : 14565
revol_util : 1027
total_acc : 89
initial_list_status : 2
out_prncp : 7215
out_prncp_inv : 7637
total_pymnt : 13971
total_pymnt_inv : 14304
total_rec_prncp : 8462
total_rec_int : 14257
total_rec_late_fee : 342
recoveries : 340
collection_recovery_fee : 343
last_pymnt_d : 15
last_pymnt_amnt : 7926
next_pymnt_d : 1
last_credit_pull_d : 16
collections_12_mths_ex_med : 7
mths_since_last_major_derog : 121
policy_code : 1
application_type : 2
annual_inc_joint : 888
dti_joint : 1848
verification_status_joint : 3
acc_now_delinq : 3
tot_coll_amt : 1483
tot_cur_bal : 19128
open_acc_6m : 12
open_act_il : 31
open_il_12m : 7
open_il_24m : 15
mths_since_rcnt_il : 210
total_bal_il : 15548
il_util : 166
open_rv_12m : 18
open_rv_24m : 29
max_bal_bc : 10123
all_util : 136
total_rev_hi_lim : 2139
inq_fi : 19
total_cu_tl : 32
inq_last_12m : 25
acc_open_past_24mths : 32
avg_cur_bal : 13891
bc_open_to_buy : 13643
bc_util : 1050
chargeoff_within_12_mths : 6
delinq_amnt : 24
mo_sin_old_il_acct : 350
mo_sin_old_rev_tl_op : 581
mo_sin_rcnt_rev_tl_op : 170
mo_sin_rcnt_tl : 110
mort_acc : 19
mths_since_recent_bc : 264
mths_since_recent_bc_dlq : 118
mths_since_recent_inq : 25
mths_since_recent_revol_delinq : 119
num_accts_ever_120_pd : 24
num_actv_bc_tl : 22
num_actv_rev_tl : 30
num_bc_sats : 34
num_bc_tl : 43
num_il_tl : 65
num_op_rev_tl : 42
num_rev_accts : 63
num_rev_tl_bal_gt_0 : 29
num_sats : 49
num_tl_120dpd_2m : 1
num_tl_30dpd : 3
num_tl_90g_dpd_24m : 17
num_tl_op_past_12m : 20
pct_tl_nvr_dlq : 342
percent_bc_gt_75 : 101
pub_rec_bankruptcies : 5
tax_liens : 10
tot_hi_cred_lim : 17581
total_bal_ex_mort : 18161
total_bc_limit : 1595
total_il_high_credit_limit : 14499
revol_bal_joint : 2743
sec_app_earliest_cr_line : 437
sec_app_inq_last_6mths : 7
sec_app_mort_acc : 12
sec_app_open_acc : 45
sec_app_revol_util : 899
sec_app_open_act_il : 30
sec_app_num_rev_accts : 55
sec_app_chargeoff_within_12_mths : 7
sec_app_collections_12_mths_ex_med : 7
sec_app_mths_since_last_major_derog : 95
hardship_flag : 2
hardship_type : 1
hardship_reason : 7
hardship_status : 3
deferral_term : 1
hardship_amount : 64
hardship_start_date : 8
hardship_end_date : 10
payment_plan_start_date : 8
hardship_length : 1
hardship_dpd : 24
hardship_loan_status : 4
orig_projected_additional_accrued_interest : 50
hardship_payoff_balance_amount : 64
hardship_last_payment_amount : 64
disbursement_method : 2
debt_settlement_flag : 2
debt_settlement_flag_date : 9
settlement_status : 3
settlement_date : 10
settlement_amount : 61
settlement_percentage : 18
settlement_term : 11

### 팬시인덱싱
> **`bool`** 형태의 array를 조건을 전달하여 다차원 배열을 인덱싱하는 방법.  
조건식을 사용하여 분석에 필요한 데이터샘플을 추출하기 용이합니다.

In [ ]:
# 신용등급이 A인 샘플의 emp_title 확인

In [ ]:
# 대출금액평균

In [ ]:
# 조건식 샘플링 emp_title 이 ceo인 샘플들

In [ ]:
# 신용등급 A와 B인 샘플접근

# 조건식을 여러개 써야 한다면 조건마다 ()로 감싸주시는 것이 좋습니다.

In [ ]:
# df loan_amnt 컬럼값이 10000이상인 채권샘플의 grade

In [ ]:
# 신용등급 A와 B인 샘플접근

In [ ]:
# df loan_amnt 컬럼값이 10000 이상인 채권샘플의 grade

In [ ]:
# df grade C 와 D 인 채권샘플 annual_inc 최대값인 인덱스 빼오기 (idxmax)
# 최대값 인덱스 빼와서 샘플까지 출력

In [ ]:
# 컬럼 내 문자열 내에 우리가 찾고싶은 문자열이 포함되어 있는지를 기준으로 샘플링

## 데이터프레임 병합
> 실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.  
조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.  
한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
**`pd.merge`**(베이스데이터프레임, 병합할데이터프레임)  
> 사용 가능 한 파라메터
- `how` : 'left', 'right', 'inner', 'outer'
- `left_on` : key값이 다를 경우 베이스데이터프레임의 key 설정
- `right_on` : key값이 다를 경우 병합데이터프레임의 key 설정
    
### 단순 데이터 연결
**`pd.concat`**([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)
> 사용 가능 한 파라메터  
- `axis` : 축 방향 설정

### merge 예시

In [ ]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어']) 

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    'name': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', 'name'])

In [ ]:
# 데이터프레임 확인

In [ ]:
# 병합 테스트

### concat 예시
현재 df에 저장되어있는 데이터에 추가로 2만개의 데이터를 이어붙여보겠습니다. df1이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [ ]:
# df1 변수에 loan2.csv 파일을 읽어들입니다.

In [ ]:
# 데이터프레임 확인

In [ ]:
# df 와 df1 shape 확인

In [ ]:
# 데이터프레임 행단위 병합

In [ ]:
# 병합 데이터프레임 shape 확인

In [ ]:
# 병합 데이터프레임 index 확인

## 인덱스 편집
방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?  
데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다. 인덱스 편집은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

In [ ]:
# 인덱스리셋

In [ ]:
# 기존 컬럼값을 취해 index로 사용

## 컬럼편집
인덱스편집과 마찬가지로 데이터프레임의 컬럼을 변경해야 할 경우도 있습니다. 데이터프레임은 컬럼단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

### 컬럼선택

In [ ]:
# df 컬럼명 접근

In [ ]:
# columns 속성도 인덱싱 및 슬라이싱이 가능합니다.

저는 개인정보에 관한 부분에 관심이 많습니다. 데이터셋 중 필요한 부분만을 컬럼단위로 추려보겠습니다.

In [ ]:
# df의 개인정보에 관한 컬럼만을 색인으로 df를 슬라이싱하고 person_df 변수에 할당

### 컬럼삭제
현재 데이터셋에는 개인식별정보가 지워져서 데이터가 존재하지 않습니다. 불필요한 데이터 column을 지우도록 하겠습니다.

In [ ]:
# 지울 column의 데이터값이 모두 NaN인지 확인

삭제할 컬럼 모두 데이터가 없는 것을 확인했습니다.

In [ ]:
# 컬럼 삭제 (drop, del, pop)

### 컬럼명 변경
    경우에 따라서는 데이터셋 제작 중 컬럼명을 변경해야 할 경우도 있습니다.
    국내 수집 데이터 사용 시 컬럼이 한글일 경우 영어로 변경을 많이 합니다.

In [ ]:
# home_ownership을 간략하게 home으로 변경
# 한글도 가능합니다만 권장하지는 않습니다.

## 데이터 샘플링 및 분석
> 데이터병합, 인덱스편집, 컬럼선택만으로도 불필요한 정보를 삭제하고 새롭게 데이터셋을 만들 수 있는것을 확인했습니다.  
위에 학습한 내용도 데이터 샘플링에 속한 내용이지만 지금부터는 데이터셋의 데이터를 살펴보면서 의미있는 데이터를 추려보도록 하겠습니다.  
    
**데이터프레임의 기본적인 인덱싱, 슬라이싱, 조건부 샘플링을 조합하면 데이터의 샘플을 확인 하는 과정만으로도 데이터분석이 가능해집니다.**

In [ ]:
# 분석에 필요한 데이터프레임을 만들었으니 원본값을 사용하겠습니다. 기존 df에 person_df 값을 덮어 씌웁니다.

In [ ]:
# 분석에 필요한 데이터셋을 생성했다면 파일로도 저장 해둡시다.

### 저는 채권자의 개인정보에 관심이 많습니다. 고객의 직업을 살펴보겠습니다.

In [ ]:
# emp_title 접근

In [ ]:
# 값을 카운트 하는 함수 value_counts()

### 데이터프레임 형변환

In [ ]:
# Owner, owner 같은 직업이지만 대소문자 구분에 따라 다른 값으로 취급되는 문제가 있네요.
# 대소문자 구분을 없애기 위해 모두 소문자로 데이터값을 변경하겠습니다.
# 소문자 변환 전 혹시모를 int, float 데이터가 있을지 모를 상황에 대비해서 모두 문자열로 변경해주겠습니다.
# 형변환 함수 astype(데이터타입)

In [ ]:
%%time
# 반복문을 사용한 데이터 변경도 가능
# 하지만 파이썬의 강점을 살리지 못한 코드

### 배운사람들의 코드, 고오급 python 스킬
numpy를 학습하면서 브로드캐스팅에 관하여 잠깐 언급했었습니다. 그렇다면 그 파워풀하다던 브로드캐스팅은 어떻게 사용해야할까요?
    
>기타 언어에서는 지원하지 않는 기능이니만큼 파이썬의 특징을 가장 잘 살리는 코드  
**`apply`** 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용

#### apply 함수로 컬럼에 적용시키는 코드 구조
    df['컬럼명'] = df['컬럼명'].apply(lambda x: func(x) if 조건문)
    df['컬럼명'] = df['컬럼명'].apply(func_nm)

In [ ]:
# 대문자 만드는 함수

In [ ]:
# apply() 함수사용 반복이 가능한 데이터구조의 모든 인자에 적용
# lambda 각 인자에 적용할 함수 혹은 연산

In [ ]:
# 대소문자 구분을 처리한 값 확인

# 기존 value_count 값과 차이가 있음을 확인 할 수 있습니다.
# 제공 된 데이터셋이라도 이와 같은 작은 차이가 있을 수 있습니다.
# 데이터를 꼼꼼하게 살펴볼 수록 디테일한 차이를 만들 수 있습니다.

In [ ]:
# owner인 사람들 샘플링

In [ ]:
# 샘플링 된 데이터프레임의 단일 컬럼 접근

In [ ]:
# 컬럼 평균값 계산

In [ ]:
# 코드 하나 변경으로 간단한 분석 가능
# owner가 아닌 사람들의 평균

## 데이터 재구조화

In [ ]:
# 각 직업별 평균연봉이 궁금하다 groupby
# 엑셀의 pivol table 과 비슷한 기능

In [ ]:
# pivot_table

## 결측치 처리
> 데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.  
모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.  
몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [ ]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.

    확인결과 emp_title, emp_length, dti에 결측치가 존재합니다.
    해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [ ]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.

In [ ]:
# dti 컬럼에 결측치가 존재하는 샘플 확인

    직업과 근속연수에 관한 부분은 데이터를 통한 유추나 계산값을 통해 채워넣을 수 있는 항목은 아닌 것 같습니다.
    다만 dti의 경우 실수로 채워져 있는 부분이니 수업을 위해 평균값 혹은 근사치를 계산하여 채워보도록 하겠습니다.

### 결측치 채우기

In [ ]:
# dti 컬럼의 NaN값 index 확인

In [ ]:
# fillna() 함수로 NaN 값을 dti 컬럼의 평균으로 채우기

# fillna() 함수의 다양한 채우기 방법 파라메터 확인해보기

### 결측치 제거

In [ ]:
# emp_title 결측치가 있는 샘플 확인

In [ ]:
# view값으로 dropna 결과값 확인

In [ ]:
# 결측치 제거