## Pandas

### 1. Pandas DataFrame and Operations

In [ ]:
# pandas 라이브러리를 불러옵니다. pd를 약칭으로 사용합니다.

- DataFrame은 2차원 테이블이고, 테이블의 한 줄(행/열)을 Series라고 합니다.


- Series의 모임이 곧, DataFrame이 됩니다.

In [ ]:
# s는 1, 3, 5, np.nan, 6, 8을 원소로 가지는 pandas.Series

In [ ]:
# 12x4 행렬에 1부터 36까지의 숫자를 원소를 가지고, index는 0부터 시작하고, coulmns은 순서대로 X1, X2, X3, X4로 하는 DataFrame 생성
df =

In [ ]:
# dataframe index

In [ ]:
# dataframe columns

In [ ]:
# dataframe values

In [ ]:
# 특정 column을 가져오기

In [ ]:
# X1 column에 2 더하기

### 2.2. Dataframe 기초 method

In [ ]:
# dataframe의 맨 위 다섯줄을 보여주는 head()

In [ ]:
# 10줄

In [ ]:
# dataframe에 대한 전체적인 요약정보를 보여줍니다. index, columns, null/not-null/dtype/memory usage가 표시됩니다.

In [ ]:
# dataframe에 대한 전체적인 통계정보를 보여줍니다.

In [ ]:
# X2 column를 기준으로 내림차순 정렬

### 2.3. Fancy Indexing !

- 데이터를 filtering <=> Search !

- 전체 데이터에서 원하는 일부의 데이터를 찾아오는 방법 !

In [ ]:
# pandas dataframe은 column 이름을 이용하여 기본적인 Indexing이 가능합니다.
# X1 column을 indexing

In [ ]:
# dataframe에서 slicing을 이용하면 row 단위로 잘려나옵니다.
# 앞에서 3줄을 slicing 합니다.

In [ ]:
# df에서 index value를 기준으로 indexing도 가능합니다. (여전히 row 단위)

In [ ]:
# df.loc는 특정값을 기준으로 indexing합니다. (key - value)

In [ ]:
# df.loc에 2차원 indexing도 가능합니다.

In [ ]:
# dataframe에 조건식을 적용해주면 조건에 만족하는지 여부를 알려주는 "mask"가 생깁니다.
# Q. df에서 X3 column에 있는 원소들중에 3의 배수만 출력해주세요!

In [ ]:
# 2차원 리스트 indexing과 같은 원리가 되었습니다.
# integer-location based indexing

In [ ]:
# iloc로 2차원 indexing을 하게되면, row 기준으로 index 3,4를 가져오고 column 기준으로 0, 1을 가져옵니다.

In [ ]:
# Q. 2차원 indexing에 뒤에가 : 면 어떤 의미일까요?

## 2.3. 여러 DataFrame 합치기

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# SQL과 같이 join operation을 사용할 수 있다.

In [ ]:
# left join

In [ ]:
# 그냥 합치기 (concatenation)

## 2.4 DataFrame으로 데이터 불러오기


Source : https://www.kaggle.com/c/titanic/data

In [ ]:
# train.csv 파일 불러오기
titanic =

## 2.5. Pivot Table을 이용하여 데이터 살펴보기

- pivot table이란 기존 테이블 구조를 특정 column을 기준으로 재구조화한 테이블을 말합니다.

- 특정 column을 기준으로 pivot하기 때문에, 어떤 column에 어떤 연산을 하느냐에 따라서 만들어지는 결과가 바뀝니다.

- 주로 어떤 column을 기준으로 데이터를 해석하고 싶을 때 사용합니다.

In [ ]:
# 성별을 기준으로 생존률 파악 --> Mean vs Sum

In [ ]:
# 사회 계급을 기준으로 생존률 파악