In [1]:
import numpy as np
import pandas as pd

다음과 같은 5개 item에 대한 4건의 거래 데이터가 있다면

In [2]:
data = np.array([
    ['우유', '기저귀', '주스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '맥주'],
    ['양상추', '맥주']
])
data

<ipython-input-2-45073f953c84>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

array([list(['우유', '기저귀', '주스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '맥주']), list(['양상추', '맥주'])],
      dtype=object)

### matrix로 변환

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
# Sparce matrix로 변형
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

In [4]:
# column명 확인
te.columns_

['기저귀', '맥주', '양상추', '우유', '주스']

In [5]:
# 데이터프레임으로 변환
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     주스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

### apriori 적용

In [8]:
from mlxtend.frequent_patterns import apriori

# 지지도가 0.5 이상인 item sets만 보기
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (기저귀, 맥주)
5     0.50      (양상추, 기저귀)
6     0.50       (기저귀, 우유)
7     0.75       (양상추, 맥주)
8     0.50  (양상추, 기저귀, 맥주)

### 연관규칙 확인

In [9]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="support", min_threshold=0.05)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
5,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
7,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
8,"(양상추, 기저귀)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
9,"(양상추, 맥주)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
10,"(기저귀, 맥주)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
11,(양상추),"(기저귀, 맥주)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
12,(기저귀),"(양상추, 맥주)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
13,(맥주),"(양상추, 기저귀)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50