<a href="https://colab.research.google.com/github/y001003/yeardream/blob/main/python_basic/03_%E1%84%85%E1%85%B5%E1%84%89%E1%85%B3%E1%84%90%E1%85%B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료구조
자료구조는 데이터를 넣을 수 있는 바구니와 같습니다.  
파이썬에는 리스트/튜플/딕셔너리의 자료구조가 있는데 하나씩 살펴봅시다.

## 리스트 (list)
리스트는 순서가 있는 자료구조로 대괄호 기호 `[ ]`로 정의합니다.

<img src="https://i.ibb.co/wwnt9bY/2-0.png" style="float:left" />

파이썬의 리스트를 사용하면 데이터 타입과 상관없이 값을 마음대로 넣을 수 있습니다.

In [1]:
[10,"Hello"]

[10, 'Hello']

### 리스트에 값 추가하기

`append` 메서드 사용하면 리스트를 생성한 후에 값을 추가할 수 있습니다.  
리스트의 <span style="color:red"><b>끝에 값이 추가</b></span> 됩니다.

In [3]:
data = []
data.append("Hello")
data.append("World")

print(data)

['Hello', 'World']

`insert` 메서드로 특정 위치에 값을 추가할 수 있습니다.

In [8]:
data.insert(0,1)
data

[1, 'Hello', 'World']

In [9]:
del data[0:1]

In [10]:
data

['Hello', 'World']

`extend` 메서드로 다차원 리스트를 추가할 수 있습니다.

In [12]:
# 추후 설명
data2 = [123]
data.extend(data2)
data

['Hello', 'World', 123]

리스트의 덧셈은 두 개의 리스트를 하나로 합칩니다.

In [13]:
data3 = data + data2
print(data3)

['Hello', 'World', 123, 123]

### 리스트 인덱싱과 슬라이싱

데이터는 저장된 순서대로 0부터 시작하는 인덱스가 차례로 부여됩니다.  
슬라이싱에 사용되는 인덱스는 데이터와 데이터 사이에 위치합니다.  
문자열 인덱싱/슬라이싱과 원리가 같습니다.

<img src="https://i.ibb.co/tHTjCzM/2-1.png" style="float:left" />

In [26]:
interest = ["삼성전자", "LG전자", "카카오"]

In [15]:
interest[0][:2]

'삼성'

인덱스가 있으니 인덱싱과 슬라이싱을 할 수 있겠죠?  
문자열을 슬라이싱하면 문자열! 리스트를 슬라이싱하면 리스트!

In [16]:
interest = ["삼성전자", "LG전자", "카카오"]
interest[0:2]

['삼성전자', 'LG전자']

인덱스를 벗어나면?

In [27]:
interest[3]

IndexError: ignored

문자열과 달리 리스트의 값은 수정이 가능합니다.  
아래는 리스트의 1번 인덱스의 값을 변경하는 코드입니다.

In [28]:
interest[1] = "애플"
interest

['삼성전자', '애플', '카카오']

### 리스트의 데이터 삭제

`remove` 메서드는 삭제할 값을 입력받아 리스트에서 제거합니다.

In [29]:
interest.remove('애플')
interest

['삼성전자', '카카오']

`pop` 메서드는 인덱스를 입력받아 하나의 값을 제거합니다.

In [ ]:
리스트.pop(0)

`del` 키워드를 사용해서 제거할 수도 있습니다.

In [ ]:
del 리스트[0]

`clear` 메서드로 모든 데이터를 제거할 수 있습니다.

In [20]:
interest.clear()
interest

[]

슬라이싱을 활용할 수도 있구요.

In [ ]:
리스트 = 리스트[1:]

##### 연습문제 - 1
리스트에서 c와 d를 제거하라.

In [21]:
리스트 = ['a', 'b', 'c', 'd']
del 리스트[2:]
print(리스트)

['a', 'b']

In [23]:
리스트 = ['a', 'b', 'c', 'd']
리스트 = 리스트[:2]
리스트

['a', 'b']

파이썬 리스트 문제 더 풀어보기   
https://wikidocs.net/30105  
https://wikidocs.net/30106

## 리스트와 메서드

###### 위치 찾기
`index` 메서드

In [31]:
리스트 = ["101호", "102호", "103호", "104호", "105호", "106호", "107호"]
리스트.index('102호')

1

###### 연습문제 - 3
리스트에는 집주소로 정렬된 거주인원의 이름이 저장돼 있습니다.   
`| 아름 | 종훈 | 현호 | 시후 | 아라 | 정현 |`  

----

하나의 이름을 입력받아 인접한 두 집을 출력하세요.  
`name = input("이름:")`

----

```python
# 출력 예시
>> 이름: 현호
주변에는 종훈 시후가 살고 있습니다.
```

In [32]:
거주순서 = ["아름", "종훈", "현호", "시후", "아라", "정현"]

name = input("이름:")

이름:현호

In [35]:
거주순서 = ["아름", "종훈", "현호", "시후", "아라", "정현"]

name = input("이름:")
loc = 거주순서.index(name)
print(f"주변에는 {거주순서[loc - 1]} {거주순서[loc + 1]}가 살고 있습니다.")

이름:아름
주변에는 정현 종훈가 살고 있습니다.

###### 정렬하기 
`sort`와 `reverse` 메서드

In [36]:
리스트 = ["c","b","a"]
리스트.sort()
리스트

['a', 'b', 'c']

###### 갯수세기
`count` 메서드

###### 존재여부 확인
`in` 메서드는 리스트에 데이터의 존재 여부를 확인

In [38]:
"a" in 리스트

True

###### join 연산자
구분자를 기준으로 리스트 안의 모든 문자열 데이터를 연결

In [39]:
"".join(리스트)

'abc'

In [47]:
리스트[0]

'a'

In [52]:
리스트 = ["a","b","c"]
print(id(리스트[0]))
print(id(리스트[1]))
li = ["a"]
print(id(li[0]))
리스트[0] = "a"
print(id(리스트[0]))

140650499642992
140650499468080
140650499642992
140650499642992

## 이차원 데이터

가로축과 세로축이 있는 데이터를 이차원 데이터라고 부릅니다. 엑셀에 저장할 수 있는 데이터는 이차원 데이터에 좋은 예제 입니다.

In [ ]:
interest = [
    [0, 1, 2],
    [3, 4, 5],    
]

In [ ]:
print(interest)

[[0, 1, 2], [3, 4, 5]]

공백과 줄바꿈은 가독성 향상을 위해 사용했습니다. 사용하지 않아도 결과는 같습니다.

In [ ]:
interest = [[0, 1, 2],[3, 4, 5],]

In [ ]:
print(interest)

###### 연습문제 - 3
다음 표를 리스트로 표현하라.  

| | | | | 
|---|---|---|---|
| 101 | 102 | 103 | 104 |
| 201 | 202 | 203 | 204 |

###### 리스트 안에 리스트 추가하기

## 리스트와 메모리

리스트를 대입연산하면 메모리 상에서는 어떻게 될까?

In [ ]:
리스트0 = ["가", "나", "다"]
리스트1 = 리스트0

In [ ]:
print(id(리스트0))
print(id(리스트1))

동일한 값을 갖는 두개의 리스트를 복사하는 방법

슬라이싱한 결과는 어떻게 될까?

파이썬 리스트 문제 더 풀어보기   
https://wikidocs.net/30105  
https://wikidocs.net/30106