<a href="https://colab.research.google.com/github/y001003/yeardream/blob/main/python_basic/Python_300_for_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 08. 파이썬 반복문

In [1]:
# 137번
for i in [10,20,30]:
    print(i)

10
20
30

In [4]:
# 141번
리스트 = [100,200,300]
for i in 리스트:
    print(i+10)

110
210
310

In [5]:
# 143번
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [6]:
# 145번
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

#### 리스트 슬라이싱

In [12]:
# 148번
리스트 = ["가", "나", "다", "라"]
for i in range(1,len(리스트)):
    print(리스트[i])
print("---------------------")
for i in 리스트[1:]:
    print(i)

나
다
라
---------------------
나
다
라

In [13]:
# 149번
리스트[: : 2]# 시작:끝:증감폭
for i in 리스트[: : 2]:
    print(i)

가
다

In [36]:
# 150번
리스트 = ["가", "나", "다", "라"]
리스트.sort(reverse=True)

for i in 리스트:
    print(i)
print("-----------------------")
리스트.sort(reverse=False)

for i in 리스트[: : -1]:
    print(i)

라
다
나
가
-----------------------
라
다
나
가

In [37]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i <0:
        print(i)

-20
-3

In [38]:
# 152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [39]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i % 3 == 0) and (i < 20):
        print(i)

12
18

In [40]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >=3:
        print(i)

study
python
language

In [43]:
# 155 
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

#### 다시 풀어보기 157

In [61]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.
# 중요!!!!!!!! 다시 풀어보기
리스트 = ['dog', 'cat', 'parrot']

Dog
Cat
Parrot

In [62]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    tem = i.split(".")
    print(tem[0])

hello
ex01
intro

In [64]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith(".h"):
        print(i)

intra.h
define.h

In [65]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    temp = i.split(".")
    if temp[1] == "h" or temp[1] == "c":
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 161
for i in range(100):
    print(i)

In [67]:
# 162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [73]:
# 163
for i in range(1,31):
    if i % 3 ==0:
        print(i)
print("----------------")
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30
----------------
3
6
9
12
15
18
21
24
27
30

In [78]:
for i in range(99,-1,-1):
    print(i)
print("--------------")
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
--------------
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [80]:
# 165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [83]:
# 166
for i in range(1,10):
    print("3x%d = %d" % (i, 3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [85]:
# 167
for i in range(1,10,2):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [88]:
# 168
sum = 0
for i in range(1,11):
    sum += i
print("합 :",sum)

합 : 55

In [89]:
# 169
sum = 0
for i in range(1,11):
    if i % 2 == 1:
        sum += i
print(sum)

25

In [91]:
# 170
ex = 1
for i in range(1,11):
    ex *= i
print("곱 :",ex)

곱 : 3628800

In [93]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [95]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [99]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-i-1,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [101]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list[1:])):
    print(100+(i*10), price_list[1:][i] )
print("----------------")
for i in range(1,4):
    print(90 + 10*i, price_list[i])

100 32150
110 32000
120 32500
----------------
100 32150
110 32000
120 32500

In [104]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [105]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print( my_list[i],  my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [112]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list),1,-1):
    print(my_list[i-1],my_list[i-2])

라 다
다 나
나 가

In [116]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

100
200
400

In [117]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [118]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(5):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 181
apart = [["101호","102호"],["201호","202호"]]

In [ ]:
# 183
stock = {
    "시가":[100,200,300],
    "종가":[80,210,330]
}

In [121]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")
print("-------------------")
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호
-------------------
101 호
102 호
201 호
202 호
301 호
302 호

In [122]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [123]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,"호")
        print("-----------")

101 호
-----------
102 호
-----------
201 호
-----------
202 호
-----------
301 호
-----------
302 호
-----------

In [127]:
# 191 
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [128]:
# 192 
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.
for row in data:
    for col in row:
        print(col * 1.00014)
    print("---------------------")

2000.28
3050.427
2050.2870000000003
1980.2772
---------------------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
---------------------
15452.163
15052.107
15552.177
14902.086000000001
---------------------

In [130]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
result = []
for row in data:
    for col in row:
        result.append(col*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [136]:
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
# 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.
result = []
for i in range(len(data)):
    temp = []
    for j in range(len(data[i])):
        # result[i][j].append(data[i][j]*1.00014)
        # print(data[i][j]*1.00014)
        temp.append(data[i][j]*1.00014)
    result.append(temp)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [137]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [138]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [139]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [143]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [145]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1] - row[2])

10

In [146]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
sum = 0
for row in ohlc[1:]:
    sum += (row[0] - row[3])
print(sum)

0